/* Location */

.location {
    &_section {
        @include container(0rem, 0rem);
        background: $color-gray;
    }

    &_result {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem 0rem;
        color: $color-black;
        background: $color-gray;

        &_wrapper-icon {
            margin-right: 1rem;
        }
    }
}

/* Info */

.info {
    &_section {
        @include container(2rem, 3rem);
        background: lighten($color-gray,5%);
    }

    &_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &_header {
        &_title {
            margin: 0rem 2em 1rem 2rem;
        }

        &_subtitle {
            margin-bottom: 1.5rem;
            font-size: 1.125rem;
            font-weight: 300;
            color: lighten($color-black,20%);
        }
    }
}