.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: $color-white;
    background: linear-gradient($color-secondary, $color-primary);
    border: none;
    border-radius: $small-component-radius;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition-duration: 0.1s;

    &:hover {
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
        transform: scale(1.01);
    }
}